.contentBlur.messagesCustomize.messagesContentBlur
{
  -webkit-filter: blur(2px) !important;
  filter: blur(2px) !important;
}

.contentBlur.messagesCustomize.messagesContentBlur:hover
{
  -webkit-filter: blur(0px) !important;
  filter: blur(0px) !important;
}
